
    </main>
<!-- Footer -->
<footer class="py-3 bg-light text-muted text-center mt-4" style="width: 100%;">
  <div class="container">
    <p>© 2025 My Blog Application</p>
    <p>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=faraidoonqari@gmail.com" 
         target="_blank" class="text-decoration-none text-muted">
        <i class="bi bi-envelope-fill"></i> faraidoonqari@gmail.com
      </a>
      &nbsp; | &nbsp;
      <a href="https://instagram.com/faraidoonqarizadeh" target="_blank" class="text-decoration-none text-muted">
        <i class="bi bi-instagram"></i> @faraidoonqarizadeh
      </a>
    </p>
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</div>
</body>
</html>